.tablero {
	display: grid;
	grid-template-columns: repeat(8, 70px);
	grid-template-rows: repeat(8, 70px);
}

.casilla-blanca {
	background-color: #f0d9b5;
}

.casilla-negra {
	background-color: #b58863;
}

.casilla {
	position: relative;
    width: 70px; /* Ancho de la casilla */
    height: 70px; /* Alto de la casilla */
}

.casilla img {
	max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%; /* Ubicar la imagen en el centro vertical */
    left: 50%; /* Ubicar la imagen en el centro horizontal */
    transform: translate(-50%, -50%); /* Centrar la imagen */
}

.ficha-seleccionada {
	border: 2px solid red;
}
.contenedor-tablero {
        display: flex;
        justify-content: center;
    }

    .contenedor-texto {
        margin-top: 20px; /* Ajusta según necesites */
    }