body {
	background-image: url('../img/1.png');
	background-size: cover;
}

.container {
	text-align: center;
}

#btnIniciar.custom-btn {
    font-size: 200px; /* Tamaño de fuente personalizado */
    padding: 40px 40px; /* Padding personalizado (top y bottom, left y right) */
    /* Otros estilos personalizados */
}



.container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 90vh;
}

.form-container {
	background-color: rgba(137, 136, 135, 0.8);
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-container label {
	display: block;
	margin-bottom: 10px;
}